## Description
This code is used to generate dataframe to store information of the dataset

In [1]:
#import used libraries
import os
import numpy as np
import pandas as pd
import dlib
from skimage import io
from PIL import Image
import pathlib
import glob
import cv2
from tqdm import tqdm, tqdm_notebook
from sklearn.model_selection import train_test_split
import ntpath
from sklearn.preprocessing import OneHotEncoder

## Data Preprocessing

### Loading - Ennie

In [2]:
ennie = glob.glob("./People/Ennie/*")

In [3]:
ennie_folderName = [os.path.dirname(i) for i in ennie]
ennie_imageName = [ntpath.split(i)[1] for i in ennie]
ennie_personName = [["Ennie"]*len(ennie)][0]
ennie_label = [1]*len(ennie)

ennie_id = []
ennie_old_id = []
for item in ennie_imageName:
    ennie_id.append('./People_after/Ennie/' + item)
for item in ennie_imageName:
    ennie_old_id.append('./People/Ennie/' + item)

In [4]:
ennie_df = pd.DataFrame()
ennie_df["Id"] = ennie_id
ennie_df["Old_Id"] = ennie_old_id
ennie_df["Folder_Name"] = ennie_folderName
ennie_df["Image_Name"] = ennie_imageName
ennie_df["Person_Name"] = ennie_personName
ennie_df["Labels"] = ennie_label
ennie_df.head()

,Id,Old_Id,Folder_Name,Image_Name,Person_Name,Labels
0,./People_after/Ennie/Ennie07.JPG,./People/Ennie/Ennie07.JPG,./People/Ennie,Ennie07.JPG,Ennie,1
1,./People_after/Ennie/Ennie06.JPG,./People/Ennie/Ennie06.JPG,./People/Ennie,Ennie06.JPG,Ennie,1
2,./People_after/Ennie/Ennie10.JPG,./People/Ennie/Ennie10.JPG,./People/Ennie,Ennie10.JPG,Ennie,1
3,./People_after/Ennie/Ennie04.JPG,./People/Ennie/Ennie04.JPG,./People/Ennie,Ennie04.JPG,Ennie,1
4,./People_after/Ennie/Ennie05.JPG,./People/Ennie/Ennie05.JPG,./People/Ennie,Ennie05.JPG,Ennie,1

### Loading - Jimmy

In [5]:
jimmy = glob.glob("./People/Jimmy/*")

In [6]:
jimmy_folderName = [os.path.dirname(i) for i in jimmy]
jimmy_imageName = [ntpath.split(i)[1] for i in jimmy]
jimmy_personName = [["Jimmy"]*len(jimmy)][0]
jimmy_label = [2]*len(jimmy)

jimmy_id = []
jimmy_old_id = []
for item in jimmy_imageName:
    jimmy_id.append('./People_after/Jimmy/' + item)
for item in jimmy_imageName:
    jimmy_old_id.append('./People/Jimmy/' + item)

In [7]:
jimmy_df = pd.DataFrame()
jimmy_df["Id"] = jimmy_id
jimmy_df["Old_Id"] = jimmy_old_id
jimmy_df["Folder_Name"] = jimmy_folderName
jimmy_df["Image_Name"] = jimmy_imageName
jimmy_df["Person_Name"] = jimmy_personName
jimmy_df["Labels"] = jimmy_label
jimmy_df.head()

,Id,Old_Id,Folder_Name,Image_Name,Person_Name,Labels
0,./People_after/Jimmy/Jimmy08.JPG,./People/Jimmy/Jimmy08.JPG,./People/Jimmy,Jimmy08.JPG,Jimmy,2
1,./People_after/Jimmy/Jimmy09.JPG,./People/Jimmy/Jimmy09.JPG,./People/Jimmy,Jimmy09.JPG,Jimmy,2
2,./People_after/Jimmy/Jimmy02.JPG,./People/Jimmy/Jimmy02.JPG,./People/Jimmy,Jimmy02.JPG,Jimmy,2
3,./People_after/Jimmy/Jimmy03.JPG,./People/Jimmy/Jimmy03.JPG,./People/Jimmy,Jimmy03.JPG,Jimmy,2
4,./People_after/Jimmy/Jimmy01.JPG,./People/Jimmy/Jimmy01.JPG,./People/Jimmy,Jimmy01.JPG,Jimmy,2

### Loading - Biden

In [8]:
biden = glob.glob("./People/Biden/*")

In [9]:
biden_folderName = [os.path.dirname(i) for i in biden]
biden_imageName = [ntpath.split(i)[1] for i in biden]
biden_personName = [["Biden"]*len(biden)][0]
biden_label = [3]*len(biden)

biden_id = []
biden_old_id = []
for item in biden_imageName:
    biden_id.append('./People_after/Biden/' + item)
for item in biden_imageName:
    biden_old_id.append('./People/Biden/' + item)

In [10]:
biden_df = pd.DataFrame()
biden_df["Id"] = biden_id
biden_df["Old_Id"] = biden_old_id
biden_df["Folder_Name"] = biden_folderName
biden_df["Image_Name"] = biden_imageName
biden_df["Person_Name"] = biden_personName
biden_df["Labels"] = biden_label
biden_df.head(10)

,Id,Old_Id,Folder_Name,Image_Name,Person_Name,Labels
0,./People_after/Biden/Biden02.jpeg,./People/Biden/Biden02.jpeg,./People/Biden,Biden02.jpeg,Biden,3
1,./People_after/Biden/Biden03.jpeg,./People/Biden/Biden03.jpeg,./People/Biden,Biden03.jpeg,Biden,3
2,./People_after/Biden/Biden08.jpeg,./People/Biden/Biden08.jpeg,./People/Biden,Biden08.jpeg,Biden,3
3,./People_after/Biden/Biden04.jpeg,./People/Biden/Biden04.jpeg,./People/Biden,Biden04.jpeg,Biden,3
4,./People_after/Biden/Biden05.jpeg,./People/Biden/Biden05.jpeg,./People/Biden,Biden05.jpeg,Biden,3
5,./People_after/Biden/Biden09.jpeg,./People/Biden/Biden09.jpeg,./People/Biden,Biden09.jpeg,Biden,3
6,./People_after/Biden/Biden10.jpeg,./People/Biden/Biden10.jpeg,./People/Biden,Biden10.jpeg,Biden,3
7,./People_after/Biden/Biden07.jpg,./People/Biden/Biden07.jpg,./People/Biden,Biden07.jpg,Biden,3
8,./People_after/Biden/Biden06.jpg,./People/Biden/Biden06.jpg,./People/Biden,Biden06.jpg,Biden,3
9,./People_after/Biden/Biden01.jpeg,./People/Biden/Biden01.jpeg,./People/Biden,Biden01.jpeg,Biden,3

### Loading - Elizabeth II

In [11]:
elizabeth = glob.glob("./People/Elizabeth II/*")

In [12]:
elizabeth_folderName = [os.path.dirname(i) for i in elizabeth]
elizabeth_imageName = [ntpath.split(i)[1] for i in elizabeth]
elizabeth_personName = [["Elizabeth II"]*len(elizabeth)][0]
elizabeth_label = [4]*len(elizabeth)

elizabeth_id = []
elizabeth_old_id = []
for item in elizabeth_imageName:
    elizabeth_id.append('./People_after/Elizabeth II/' + item)
for item in elizabeth_imageName:
    elizabeth_old_id.append('./People/Elizabeth II/' + item)

In [13]:
elizabeth_df = pd.DataFrame()
elizabeth_df["Id"] = elizabeth_id
elizabeth_df["Old_Id"] = elizabeth_old_id
elizabeth_df["Folder_Name"] = elizabeth_folderName
elizabeth_df["Image_Name"] = elizabeth_imageName
elizabeth_df["Person_Name"] = elizabeth_personName
elizabeth_df["Labels"] = elizabeth_label
elizabeth_df.head()

,Id,Old_Id,Folder_Name,Image_Name,Person_Name,Labels
0,./People_after/Elizabeth II/Elizabeth01.jpeg,./People/Elizabeth II/Elizabeth01.jpeg,./People/Elizabeth II,Elizabeth01.jpeg,Elizabeth II,4
1,./People_after/Elizabeth II/Elizabeth07.jpeg,./People/Elizabeth II/Elizabeth07.jpeg,./People/Elizabeth II,Elizabeth07.jpeg,Elizabeth II,4
2,./People_after/Elizabeth II/Elizabeth10.jpeg,./People/Elizabeth II/Elizabeth10.jpeg,./People/Elizabeth II,Elizabeth10.jpeg,Elizabeth II,4
3,./People_after/Elizabeth II/Elizabeth06.jpeg,./People/Elizabeth II/Elizabeth06.jpeg,./People/Elizabeth II,Elizabeth06.jpeg,Elizabeth II,4
4,./People_after/Elizabeth II/Elizabeth09.jpeg,./People/Elizabeth II/Elizabeth09.jpeg,./People/Elizabeth II,Elizabeth09.jpeg,Elizabeth II,4

### Loading - Teresa

In [14]:
teresa = glob.glob("./People/Teresa/*")

In [15]:
teresa_folderName = [os.path.dirname(i) for i in teresa]
teresa_imageName = [ntpath.split(i)[1] for i in teresa]
teresa_personName = [["Teresa"]*len(teresa)][0]
teresa_label = [5]*len(teresa)

teresa_id = []
teresa_old_id = []
for item in teresa_imageName:
    teresa_id.append('./People_after/Teresa/' + item)
for item in teresa_imageName:
    teresa_old_id.append('./People/Teresa/' + item)

In [16]:
teresa_df = pd.DataFrame()
teresa_df["Id"] = teresa_id
teresa_df["Old_Id"] = teresa_old_id
teresa_df["Folder_Name"] = teresa_folderName
teresa_df["Image_Name"] = teresa_imageName
teresa_df["Person_Name"] = teresa_personName
teresa_df["Labels"] = teresa_label
teresa_df.head()

,Id,Old_Id,Folder_Name,Image_Name,Person_Name,Labels
0,./People_after/Teresa/Teresa04.JPG,./People/Teresa/Teresa04.JPG,./People/Teresa,Teresa04.JPG,Teresa,5
1,./People_after/Teresa/Teresa10.jpg,./People/Teresa/Teresa10.jpg,./People/Teresa,Teresa10.jpg,Teresa,5
2,./People_after/Teresa/Teresa05.JPG,./People/Teresa/Teresa05.JPG,./People/Teresa,Teresa05.JPG,Teresa,5
3,./People_after/Teresa/Teresa07.JPG,./People/Teresa/Teresa07.JPG,./People/Teresa,Teresa07.JPG,Teresa,5
4,./People_after/Teresa/Teresa06.JPG,./People/Teresa/Teresa06.JPG,./People/Teresa,Teresa06.JPG,Teresa,5

### Combine all dataframes

In [17]:
frames = [ennie_df, jimmy_df, biden_df, elizabeth_df, teresa_df]
people_df = pd.concat(frames)
people_df.shape

(50, 6)

In [18]:
people_df.reset_index(inplace = True, drop = True)
print(people_df.head(), '\n')
print(people_df.tail())

                                 Id                      Old_Id  \
0  ./People_after/Ennie/Ennie07.JPG  ./People/Ennie/Ennie07.JPG
1  ./People_after/Ennie/Ennie06.JPG  ./People/Ennie/Ennie06.JPG
2  ./People_after/Ennie/Ennie10.JPG  ./People/Ennie/Ennie10.JPG
3  ./People_after/Ennie/Ennie04.JPG  ./People/Ennie/Ennie04.JPG
4  ./People_after/Ennie/Ennie05.JPG  ./People/Ennie/Ennie05.JPG

      Folder_Name   Image_Name Person_Name  Labels
0  ./People/Ennie  Ennie07.JPG       Ennie       1
1  ./People/Ennie  Ennie06.JPG       Ennie       1
2  ./People/Ennie  Ennie10.JPG       Ennie       1
3  ./People/Ennie  Ennie04.JPG       Ennie       1
4  ./People/Ennie  Ennie05.JPG       Ennie       1

                                    Id                        Old_Id  \
45  ./People_after/Teresa/Teresa02.JPG  ./People/Teresa/Teresa02.JPG
46  ./People_after/Teresa/Teresa03.JPG  ./People/Teresa/Teresa03.JPG
47  ./People_after/Teresa/Teresa01.JPG  ./People/Teresa/Teresa01.JPG
48  ./People_after/Teresa/Teresa08.JPG  ./People/Teresa/Teresa08.JPG
49  ./People_after/Teresa/Teresa09.JPG  ./People/Teresa/Teresa09.JPG

        Folder_Name    Image_Name Person_Name  Labels
45  ./People/Teresa  Teresa02.JPG      Teresa       5
46  ./People/Teresa  Teresa03.JPG      Teresa       5
47  ./People/Teresa  Teresa01.JPG      Teresa       5
48  ./People/Teresa  Teresa08.JPG      Teresa       5
49  ./People/Teresa  Teresa09.JPG      Teresa       5

### Cropping and Resizing images

In [19]:
def facecrop(df):
    """crop and keep only the face part in images"""
    # face images file
    cascade = cv2.CascadeClassifier(cv2.data.haarcascades + 'haarcascade_frontalface_default.xml')
    
    # crop the image to face size
    for i, temp_df in df.iterrows():
        img = cv2.imread(temp_df["Old_Id"])
        minisize = (img.shape[1],img.shape[0])
        miniframe = cv2.resize(img, minisize)
        faces = cascade.detectMultiScale(miniframe)

        for f in faces:
            x, y, w, h = [ v for v in f ]
            cv2.rectangle(img, (x,y), (x+w,y+h), (255,255,255))
            sub_face = img[y:y+h, x:x+w]
            
            fname, ext = os.path.splitext(temp_df["Id"])
            cv2.imwrite(temp_df["Id"], sub_face)
    return

In [20]:
facecrop(people_df)

### Converting images to grayscale and resize to 64x64

In [24]:
def convert_to_grayscale(df):
    """convert images from colorful to grayscale"""
    for i, temp_df in df.iterrows():
        img = cv2.imread(temp_df["Id"])
        gray = cv2.cvtColor(img, cv2.COLOR_RGB2GRAY)
        face_resized = cv2.resize(gray, (64, 64))
        cv2.imwrite(temp_df["Id"], face_resized)

In [25]:
convert_to_grayscale(people_df)

### Splitting dataset to X, Y

In [26]:
X = []
Y = []

for img_id in tqdm_notebook(people_df['Id'].values):
    temp = cv2.imread(img_id)
    temp = temp.astype('float32')
    temp = np.expand_dims(temp, axis=2)
    X.append(temp)
    Y.append(people_df[people_df['Id'] == img_id]['Labels'].values[0]) 

#normalize
X = np.asarray(X)
X = X.astype('float32')
X /= 255
Y = [[el] for el in Y]
Y = np.asarray(Y)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

HBox(children=(FloatProgress(value=0.0, max=50.0), HTML(value='')))

In [29]:
# squeeze the dimensions
X = np.squeeze(X, 3)

In [30]:
# convert labels to dummy variables
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(Y)

Y = enc.transform(Y).toarray()

In [32]:
X.shape

(50, 224, 224, 3)

In [33]:
Y.shape

(50, 5)

## Allow other file to access X, Y of dataset

In [36]:
def load_data():
    return X, Y